#box {
    max-width: 300px;
    border: 5px solid #778cb1;
    align-items: center;
    margin: 10vh auto 10vh auto;
}
#display #input{
    height : 65px;
    font-size: 30px;
    text-align: right;
    overflow : auto;
}
#display #result{
    /* height : 60px; */
    /* border: #6a82af solid ; */
    font-size: 40px;
    text-align: right;
    background-color: #aabcdb;
    
    overflow : auto;
    
}
.keys{
    
    display:grid;
    border: 2px solid #6a82af;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
}
.num-btn{
    border: 2px solid #6a82af;
    font-size: 30px;
    /* font-style: bold; */
    
}
.num-btn:hover {
    background-color: #bdc2b5;
    color: white;
    transition: 0.5s ease-in-out;
}
.fun-btn{
    border: 2px solid #6a82af;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.fun-btn:hover {
    background-color: #aeaf6a;
    color: white;
    transition: 0.5s ease-in-out;
}
.evaluate{
    font-size: 30;
}
#clear{
    
}
