#box {
    max-width: 300px;
    border: 2px solid rgb(7, 5, 5);
    align-items: center;
    margin: 10vh auto 10vh auto;
}
#display #input{
    height : 100px;
    font-size: 40px;
    text-align: right;
    line-height: 2;
}
#display #result{
    /* height : 60px; */
    /* border: #6a82af solid ; */
    font-size: xx-large;
    text-align: right;
}
.keys{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    
}
.num-btn{
    font-size: 30px;
    /* font-style: bold; */
    
}
.num-btn:hover {
    background-color: #bdc2b5;
    color: white;
    transition: 0.5s ease-in-out;
}
.fun-btn{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.fun-btn:hover {
    background-color: #6a82af;
    color: white;
    transition: 0.5s ease-in-out;
}
.evaluate{
    font-size: 30;
}
#clear{
    
}